[2017-02-07 15:50] tim-salabim opened #1 "librass_gis.7.2.0.dll not found"
I can't seem to inititlise `rgrass7` with `link2GI`

[code]
causes error popup saying that libgrass_gis.7.2.0.dll is missing from the computer. However,
[code]
my sessionInfo()

[code]
Any ideas?

[2017-02-07 16:30] gisma commented on #1
Yup I am working on this. It is a defined Win7 GRASS standalone installation issue. Probably as simple as a multi-language  mapping problem of the path string.   Will solve it asap.

[2017-02-07 16:42] tim-salabim commented on #1
If it helps, I see in the `PATH` variable of `Sys.getenv()`:
`C:\Program Files\GRASS GIS 7.2.0\apps\grass\GRASS GIS 7.2.0\lib`
while the `apps` subfolder does not exist on my machine. The correct path value should be
`C:/Program Files/GRASS GIS 7.2.0/lib`

[2017-02-07 17:04] gisma commented on #1
I am running Linux at the moment. Basically it should work if you call `linkGRASS7()` with the results of your  `searchGRASSW()` call as follows:
`r<-raster("file.tif")`
`linkGRASS7(c("C:\\Program Files\\GRASS GIS 7.2.0", "GRASS GIS 7.2.0","NSIS"), r)`

[2017-02-08 09:00] gisma commented on #1
Did help a lot :-). It seems to be a bit more complicated than I thought...
I tried to fix this in a first dirty hack. Could you please try the code example?
`library(sp)`
`data(meuse)`
`coordinates(meuse) <- ~x+y `
`proj4string(meuse) <-CRS("+init=epsg:28992") `
`linkGRASS7(meuse)`

[2017-02-08 11:05] tim-salabim commented on #1
Now the error popup states that `iconv.dll` is missing (several times - had to click 'OK' about 8 times).
Console output afterwards:
[code]

[2017-02-08 11:41] gisma commented on #1
Thanks for sharing this - big step forward because this looks like interfering (or less probably) missing Microsoft Visual C++ Runtime Libraries. And you have to click for each 309 error ;-)

I think there is more than one  GDAL installation available through the systems  `%PATH%` variable so that they will interfer. This can also happen If you call `linkGRASS7()` several times with different opti

[2017-02-08 12:13] tim-salabim commented on #1
Actually, very probably it is the missing Microsoft Visual C++ Runtime Libraries, as their download fails and GRASS is installed without them. That's what I meant with a possible proxy issue earlier. I saw that the PATH variable is not cleaned when calling `linkGRASS7` many times, but in the case above I only called it once.

I'll see if I can get the C++ Visual libraries installed and then report

[2017-02-08 13:06] tim-salabim commented on #1
Turns out that on a local machine (i.e. not part of our network) with direct internet access (no proxy) and complete installation (Microsoft Visual C++ Runtime Libraries installed) we get the same `iconv.dll` error(s)

[2017-02-08 13:54] gisma commented on #1
AFAIK GRASS respective GDAL want's their own Microsoft Visual C++ Runtime Libraries. It is also packed with the GRASS standalone version. I will try to add the correct folders to the `%PATH%` variable. So  please give another try.

[2017-02-08 14:51] tim-salabim commented on #1
Setting the missing Microsoft Visual C++ Runtime Libraries aside, the above example (`linkGRASS7(meuse)`) now works with the latest patch. Thanks!

[2017-02-09 06:58] #1 closed, assigned to gisma

[2017-03-23 09:10] jannes-m opened #2 "osgeo4w's grass-7.2.0 cannot be found"
Thank you for developing the link2GI package! I am trying to use rgrass7 in combination with GRASS7 installed by OSGEO4W (QGIS). link2GI can locate my GRASS installations:

    library("link2GI")
    searchGRASSW()

    searching for GRASS installations - this may take a while
    For providing the path manually see ?searchGRASSW
                                       instDir         version insta

[2017-03-23 13:23] jannes-m commented on #2
sorry, my mistake, writing it the correct way helps -:):

    library("link2GI")
    library("sp")
    data(meuse)
    coordinates(meuse) <- ~x+y
    proj4string(meuse) <-CRS("+init=epsg:28992")
    linkGRASS7(meuse, c("C:/OSGeo4W64","grass-7.2.0","osgeo4W"))

Perfect, this works but still results in this strange error message:

                   -={ OSGeo4W Shell Commands }=-
      Syntaxfehler.

[2017-04-09 12:23] gisma commented on #2
Hi Jannis,
have to apologize because I just forget to answer at once because I was kind of busy and now I am  on Sardinia without both a working Windows system and programming on my mind ;-)
 I will check it tonight but without looking at the code I assume an mistake while checking the OS. The find command should be used on Linux only I have to check why it is used on a Windows system.
cheers Chri

[2017-04-09 12:57] gisma commented on #2
Update:

according to the second error message assume a bug because am I am not really handling the parallel  installation of both GRASS-6.x and GRASS-7. The find error message probably is a result of calling the common osgeo4w batch file . I will check...

cheers Chris

[2017-04-09 14:31] keltoskytoi commented on #2
Hi Jannes,
I am also trying to bind in Grass 7.2 in R with Link2GI and I got the same warning message. I think that it has to do with the Installation of Grass and QGIS through OSGEO. Did you install the QGIS versions manually? I wanted to use QGIS 2.14 and GRASS 7.2  and install "some" RGDAL and OTB dependencies too, but I ended up with two GRASS versions (GRASS 6.x and GRASS 7.x) and R/Link2GI a

[2017-04-09 19:20] gisma commented on #2
Thanks for both of yours contributions. The addressed errors and problems are caused by some inconsistencies in the program.  Actually  it is pretty simple to explain and a bit more expensive to fix. I did not think about the situation that anybody would have installed all possible GRASS versions via OSGeo4W within the same root directory.   @jannes-m  so the error message

is a result of the miss

[2017-06-27 09:51] jannes-m opened #3 "linkSAGA"
library("link2GI")
    library("RSAGA")
    linkSAGA()
    rsaga.env()

This code returns following warning message:

    Warning message:
    In rsaga.env() : Invalid SAGA path C:\OSGeo4W64\apps\saga\

This could be easily fixed by deleting the last backslash in the path to SAGA:

    gsub("\\\\$", "", "C:\\OSGeo4W64\\apps\\saga\\")

[2017-07-01 10:59] gisma commented on #3
@jannes-m thanks for advising this. I try to fix this and some more windows issues during the next days for the next CRAN release

[2017-11-27 22:31] raff-k opened #4 "suppress console output"
Hello,

I am very grateful for the function of the packages :-)
However, is there a possibility to hide the console output of the functions? I.e. using `link2GI::linkGRASS7()` I get some warnings...

I already tried `invisible()`, `suppressMessages()` and `sink()` but it did not work. The warnings are still at the console. In `rgrass7::...` there is the function parameter `Sys_show.output.on.conso

[2017-11-29 16:55] raff-k opened #5 "errors/strange behaviour using grass-7.2.2 on windows 10 (OSGeo4W64-installation)"
Dear gisma,

I discovered some strange behaviour on my machine by trying to initialize GRASS GIS 7.2.2 located in `"C:/OSGeo4W64/apps/grass/grass-7.2.2"` (installed using OSGeo). For me, `link2GI::linkGRASS7` and `rgrass7::initGRASS` only worked in combination, or when I initialized some variable path at the beginning of the session (which I found [here](https://stat.ethz.ch/pipermail/r-sig-geo/20

[2018-01-15 18:26] gisma commented on #4
Hi @raff-k
Sorry for the delay - I was sucked by some other projects. I am working on a major fix and will  try to integrate your issue. Thanks for the hints.
cheers chris

[2018-01-15 18:28] gisma commented on #5
Hi @raff-k
I am struglling with this behaviour since a while but still not quite sure how to solve it. Due to some findings during my regular course I think I can fix this in the next release. thanks for mention it here.
cheers Chris

[2018-01-28 11:48] gisma commented on #4
@raff-k  I am in the update process to the CRAN version 0.2-0. This is for some major bugs... Hope nothing is breaking your workarounds.
I will furthermore integrate the verbose-mode which is a bit of cumbersome work due to the fact that the system calls are showing different behaviours with the sdtin stdout and error handling depending on the OS you are running . I will try to catch all console o

[2018-01-28 12:12] gisma commented on #3
@jannes-m

in the current github version it should be fixed. But you have to mention that linkSAGA  is pretty simple (and dirty). It is just looking for the installations of SAGA and returns the location as global variables.
So you should to call `rsaga.env` like following:
[code]
cheers Chris
EDIT
I have added the global variable 'sagaModPath' in the enviroment . So you may use it if you need the

[2018-02-01 22:19] gisma commented on #5
@raff-k should be fixed  in the github master branch. I will soon update it on CRAN.
cheers Chris

[2018-02-01 22:23] gisma commented on #4
@raff-k actually I am not quite sure what kind of message you want to supress. The only one I force is:
[code]

[2018-02-02 09:05] jannes-m commented on #3
Hey Chris,
thank you for working on this issue! I have two questions.

1. It is a bit unusual to write variables/objects into the global environment. Would it be an idea to let `linkSAGA()` return the retrieved paths as a list instead?
2. `linkSAGA()` also modifies the PATH variable (which makes it user-friendly) by adding the SAGA path to it. However, the path still ends with double backslashes (

[2018-02-03 23:17] #2 closed, assigned to nobody

[2018-02-06 05:42] #5 closed, assigned to nobody

[2018-02-07 17:27] gisma commented on #3
Hey Jannes
ad 1 you are pretty kind using

It was at this point convenient and it is simple to change it to the conventional way by returning it as a list.
ad 2 will check it again asap.
Would you have concerns if I optionally add a switch if user like to have the path as a global or system variable?

[2018-02-07 18:54] jannes-m commented on #3
Well, I think writing sth. in the global environment is always a bit dangerous. Though it might be unlikely, it can happen that the user has already specified an object that you will overwrite. Hence, to be on the safe side, I would always avoid writings sth. into the global environment.

[2018-02-07 19:27] gisma commented on #3
Well I write it in an inherited new environment... Nevertheless  I appreciate your well known point. Probably it will have some major changes to my own scripts because they are heavily relying on temporary globals. Would need some programming help how to deal with it....
I will fix it for all link functions.
cheers Chris

[2018-02-07 22:10] gisma commented on #3
Hi Jannes,
Actually my approach is dropping the global variables and returning a list containing  `$sagaPath` , `$sagaModPath`  and `$sagaCmd`  and. `$installed ' . The latter provides all installed versions on the system.
[code]
Currently the selected version is added to the system path. If you want to initalize `RSAGA` via `rsaga.env` you can do it like this:

[code]
To override it you may also

[2018-02-08 10:26] gisma commented on #4
added in  cran 0.2-1 you may use know the argument `quiet = TRUE` for suppressing hopefully every console output.

[2018-02-08 13:26] Robinlovelace commented on #3
Just read this discussion - interesting stuff. Agree with Jannes that creating global vars is unusual. Hidden objects can be created with `.objectName`, e.g. as described [here](http://www.talkstats.com/threads/hiding-objects-in-r.18902/).

I've not looked at the changes, agree programming help could be good (stackoverflow / asking on lists always an option), but by the sounds of it this the chang

[2018-02-08 13:54] gisma commented on #3
@jannes-m @Robinlovelace
I am aware that it is unusual to generate globals. Almost the  same with hiding them.
Never mind. I have rewirten the whole code and every call generates a return with the path params etc and the necessary setting in the system environment. The latter is obligate for the GRASS and OTB stuff and very convinient for RSAGA.
I will adapt the examples in your book as soon as I

[2018-02-08 16:50] raff-k commented on #5
sorry, for the delayed response...
thank you for the fix, it's working now :-)

[2018-02-08 16:58] raff-k commented on #4
thank you for adding the quiet-parameter :-)

however, regardless of whether I set `quiet = TRUE` or not,  the following message appears:

... but all is working ;-)

[2018-02-09 01:42] gisma commented on #4
thanks for providing. could you please provide sessionInfo and what version  of windows is installed?

[2018-02-09 01:44] gisma commented on #5
great thanks than I keep the issue closed

[2018-02-09 15:28] gisma commented on #4
@raff-k please check if this message is supressed now.

[2018-02-10 18:33] gisma commented on #3
@jannes-m @Robinlovelace
I have fixed the known issues of `link2GI`.

Furthermore, the function calls have been strictly homogenized and some bugs have been fixed.

I've improved the documentation so that most meaningful calls are reasonably documented  and finally you will find  a basic vignette.

As far as I see this issue can be closed.

[2018-02-10 19:10] #3 closed, assigned to nobody

[2018-02-11 17:25] jannes-m commented on #3
Perfect, thank you so much for your efforts! I will give it a try!

[2018-02-13 16:36] raff-k commented on #4
Now, with `link2GI::linkGRASS7(x = RQGIS::dem, default_GRASS7 = c("C:/OSGeo4W64","grass-7.2.2","OSGeo4W64"), quiet = FALSE)` I got:

and with `link2GI::linkGRASS7(x = RQGIS::dem, default_GRASS7 = c("C:/OSGeo4W64","grass-7.2.2","OSGeo4W64"), quiet = TRUE)`, I still got:

Here, the `sessionInfo()`:

... and the windows version is 10 (1703, Build 15063.850)

[2018-02-13 20:50] gisma commented on #4
@raff-k  I probably misunderstood your issue request  However the returns of the function is not  thec onsole output you have mentioned  but  the intended response of the function.  It returns the bin and lib pathes of the linked versions for further use. Additionally it returns all versions that are found on the specified drive.

You easily can put it in a variable and you will see nothing. If th

[2018-02-14 12:12] raff-k commented on #4
ah, okay, I thought that `linkGRASS7(...)`  "simply" creates a mapset without returning anything. `invisible(linkGRASS7(...))` would also work...
I am asking me if there is the need to return the pathes, which I already gave as input for initialization. But for sure, on the other hand, if I do not know the pathes and just call `link2GI::linkGRASS7(x = RQGIS::dem)`, it is nice to get the informatio

[2018-02-14 17:43] gisma commented on #4
Nice to hear that it is of use for you.  Just for clarification in your case it is for sure nonsense to return the passes that you gave as input, but there are a lot of cases especially if you want to use the command line instead of rgrass7 it makes sense.

[2018-02-16 16:07] gisma commented on #4
@raff-k
thanks again for the discussion.
I have added the argument `returnPathes = FALSE`.
I would very much agree if you could test it
cheers Chris

[2018-02-16 16:31] tim-salabim commented on #4
There is no e in paths.

[2018-02-16 16:33] gisma commented on #4
depends on the dictionary :-P but thanks I will change it

[2018-02-16 16:56] gisma commented on #4
change  `returnPathes = FALSE` to  `returnPaths = FALSE`

[2018-02-25 12:41] gisma commented on #4
@raff-k close this issue please feel free to reopen it if necessary

[2018-02-25 12:41] #4 closed, assigned to nobody

[2018-10-14 08:32] tnauss opened #7 "Allow more than the drive letter"
https://github.com/r-spatial/link2GI/blob/0f5a60ec412487dec1ec215bdebd5dee9a7b435d/R/grass7Control.R#L531

findGRASS() checks for drive letter on windows and returns an error if not only the driver letter but a top-level search path is provided for searchLocation (e.g. searchLocation = "C:/Users/Test/").

Suggested change: check drive letter with "grepl(paste0(LETTERS, ":", collapse="|"), searchLo

[2018-10-16 08:57] gisma commented on #7
Thanks for addressing

[2018-10-16 08:57] #7 closed, assigned to nobody

[2018-10-26 09:35] gisma opened #8 "link2GRASS7 reminder"
Error in if (!compatible) { : argument is of length zero
In addition: Warning messages:
1: In system(paste("g.dirseps.exe -g", shQuote(Sys.getenv("GISRC"))),  :
  running command 'g.dirseps.exe -g "junk"' had status 309
2: In system(paste("g.dirseps.exe -g", shQuote(gisDbase)), intern = TRUE) :
  running command 'g.dirseps.exe -g "C:\Users\reudenba\AppData\Local\Temp\RtmpmGboqA"' had status 309
3:

[2018-10-26 09:37] gisma opened #9 "linkSAGA reminder"
"\"C:\\Program Files\\QGIS 2.14\\apps\\saga\\modules\""

[2018-10-26 22:22] gisma commented on #9
fixed with cran rc 0.3-5

[2018-10-26 22:22] #9 closed, assigned to nobody

[2018-10-26 22:23] gisma commented on #8
fixed with cran rc 0.3-5

[2018-10-26 22:23] #8 closed, assigned to nobody

[2018-10-30 16:17] johnfurie opened #10 "linkGrass7 tempdir/file issue"
Operating system Win7
tempdir issue only occurs on command: link2GI::Grass7()
other commands like: link2GI::linkSAGA() work fine

Installing package into ‘C:/Users/Anonymouse/Desktop/WS18/Geographische_Informationssysteme/R_lib’
(as ‘lib’ is unspecified)

  There is a binary version available but the source version is later:
        binary source needs_compilation
link2GI  0.3-4  0.3-5

[2018-10-31 09:03] eikeschott opened #11 "findOTB() on Linux will return "FALSE""
installing Orfeo Toolbox with the provided installation file from
https://www.orfeo-toolbox.org/download/

downloaded the OTB-6.6.0-Linux64.run file to `/usr/lib`
following the instructions here
[https://www.orfeo-toolbox.org/CookBook/Installation.html#ubuntu-12-04-and-higher](url)
and executing them:
`sudo chmod +x OTB-6.6.0-Linux64.run`
and
`sudo ./OTB-6.6.0-Linux64.run`

in Rstudio:
first `libr

[2018-10-31 22:49] #11 closed, assigned to nobody

[2018-11-02 00:02] gisma commented on #10
The warning is a spurious effect occurring under `osgeo4w` distributions. It is kind of confusing but does not affect the functionality. For further information see rsbivand/rgrass7#4

[2018-11-02 09:13] ghost opened #12 "OTB Abfrage = FALSE"
#### Ich habe der Anleitung folgend SAGA, QGIS und SAGA-GIS von der Installationsseite heruntergeladen, allerdings habe ich die Standalone Version heruntergeladen und nicht den OSGeo4W-Installer, da die Anleitung mit der Einzelauswahl der verschiedenen Programmkomponente nicht übereinstimmt. Findet R deshalb OTB nicht?

[1] FALSE

                                        binDir
1 C:\\Program Files\

[2018-11-02 09:28] gisma commented on #12
Are you using the last github version of link2GI?

[2018-11-03 23:10] #12 closed, assigned to nobody

[2018-11-06 08:56] goergen95 opened #13 "Issue with findOTB()/linkOTB"
Eventhoug path to the OTB dir is given to the functions, an error occurs stating:

Error in data.frame(binDir = root_dir, baseDir = installDir, installation_type = installerType,  :
  object 'root_dir' not found

My sessionInfo:

R version 3.4.3 (2017-11-30) Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default  locale: [1] LC_COLLATE=Germ

[2018-11-06 08:57] Kochto opened #14 "Working university environment"
`link2GI::findOTB()`
`                             instDir installation_type
1 "C:\\Program Files\\QGIS 2.14\\bin"        osgeo4wOTB`

`link2GI::linkOTB()`
`Error in substr(p, 1, nchar(newPath)) : invalid substring arguments`

Output of `sessionInfo()` :

[code]

[2018-11-06 21:28] gisma commented on #13
Thanks for reporting. I am not able to reproduce it under Win7 and Win10. Please provide the exact call with all arguments and please also provide the output from the cmd line call  `dir C:\otbcli.bat /B /S`

[2018-11-06 21:34] gisma commented on #14
Thanks for reporting. It is kind of "unreal" that the `QGIS 2.14` folder still exists. Due to the fact that is seems to be an OPSI installation problem of the Marburg University pool installation  I have to trace this down with the help of the data center people.

[2018-11-06 21:50] goergen95 commented on #13
findOTB("C:/Program Files/OTB-6.6.0-Win64/")

Error in data.frame(binDir = root_dir, baseDir = installDir, installation_type = installerType,  :
  object 'root_dir' not found

linkOTB("C:/Program Files/OTB-6.6.0-Win64/")

Error in data.frame(binDir = root_dir, baseDir = installDir, installation_type = installerType,  :
  object 'root_dir' not found

the output of the call you asked for is:
C:\$Rec

[2018-11-06 22:40] gisma commented on #13
please empty your recycle bin and deinstall OTB from your system. Adter doing so please install the zipped [OTB binaries](https://www.orfeo-toolbox.org/packages/OTB-6.6.0-Win64.zip) and unzip them to an appropriate folder.
Finally please rerun the `dir C:\otbcli.bat /B /S` command

[2018-11-07 09:13] goergen95 commented on #13
It worked! Thank you :)

[2018-11-07 09:13] #13 closed, assigned to nobody

[2018-11-07 14:17] eikeschott opened #15 "findGrass() issues on university pc"
unfortunatly the output of
`link2GI::findGRASS()`
is
`NULL`

other commands like `link2GI::findOTB()` are working fine:
` instDir installation_type
"C:\\Program Files\\QGIS 2.14\\bin"        osgeo4wOTB`

`sessionInfo()`

[code]

[2018-11-07 18:52] gisma commented on #15
Actually I think this is due to the fact that GRASS is not installed but linkGRASS7 is looking in an old #14  orphan installation directory. I have to check this.

[2018-11-22 17:05] ghost opened #16 "linkOTB( ) more than one version downloaded"
There are two identical versions of Orfeo toolbox on my pc but located in different folders. When I execute link2GI:linkOTB( ) an error is printed and neither of the both versions is linked.

                                                              binDir                                                     baseDir
1 C:\\Users\\Ben\\Downloads\\OTB-6.6.0-Win64\\OTB-6.6.0-Win64\\bin\\ C:\\Users\

[2018-11-29 09:39] gisma opened #17 "linkGDAL needs to be re-implemented"
linkGDAL is just a small wrapper around the gdalUtils setup function. However there are major problems in adressing alternative pathes and rescanning the system for all installations wich seems to be necessary  especially with respect to the difficult situation around  GDAL binaries.

Due to some weird inter-dependencies of  gdalUtils and GDAL binaries as well as the observation that the current g

[2018-11-29 09:40] #14 closed, assigned to nobody

[2018-11-29 09:41] #10 closed, assigned to nobody

[2019-01-25 09:56] aloboa commented on #11
Does not work in case OTB is not under /usr, even if specifying searchLocation
`findOTB(searchLocation = "/home/alobo/OTB-6.6.0-Linux64", quiet = FALSE)`
results in FALSE

[2019-01-31 12:36] aloboa opened #18 "findOTB() on Linux still will return "FALSE""
Apparently the fix does not work in case OTB is not under /usr, even if specifying searchLocation
`findOTB(searchLocation = "/home/alobo/OTB-6.6.0-Linux64", quiet = FALSE)`
results in FALSE

Note that the currentely advised installation is through a binary package i.e.  OTB-6.6.1-Linux64.run
that can be deployed in your home directory.

[2019-02-05 07:05] gisma commented on #18
@aloboa sorry for the delay. I think it is fixed now. Additionally I have changed the default searchpath to home. Please try and test the master branch.

[2019-02-05 10:04] aloboa commented on #18
If I download from
https://github.com/r-spatial/link2GI
and try to install it in R (on my Debian machine) I get:
[code]
If I use `devtools::install_github("r-spatial/link2GI")
`
I get link2GI_0.3-5 and, with it, I still have the same problem:
[code]
I can try this afternoon on windows.

[2019-02-05 12:16] aloboa commented on #18
Curiously, it does work on windows using the zip downloaded from the code page:
https://github.com/r-spatial/link2GI/archive/master.zip

[code]

[2019-02-05 12:42] gisma commented on #18
Hm strange,  I am am developing under Linux and I have checked it under Linux. What happens if you use
`devtools::install_github("gisma/link2GI", ref = "master")` instead of downloading the zip file?

If downloading the zip file you may try also:
`devtools::install_local("~/Downloads/link2GI-master.zip")`

[2019-02-05 14:40] aloboa commented on #18
I did use`devtools::install_github("r-spatial/link2GI") ` also (see above), but I note you mention using ` gisma/link2GI`
I'll try again tomorrow (unless the weather lets me go the field, then it would be after-tomorrow).

[2019-02-06 08:15] aloboa commented on #18
On linux, after installing with `devtools::install_github("gisma/link2GI", ref = "master")`

[code]

[2019-02-06 09:14] gisma commented on #18
Thanks for testing it. Now I've got an idea whats going wrong. I will fix it and push it asap. Please use then again the regular r-spatial github for installing.
`devtools::install_github("r-spatial/link2GI")`

[2019-02-06 14:46] aloboa commented on #18
After new installation, still some problem with parseOTBFunction()
Also, finfOTB(), without any clue, takes too long. Perhaps better advice the user to provide an insight
on the searchLocation

[code]

[2019-02-06 16:11] gisma commented on #18
Well it is a brute force recursive search. If it is done under windows  and if you have a huge hard drive it is a nightmare. Running Linux it is much faster. I tried to  expressed this in the vignette that if you know what and how  to link it is much better to drill down there. However it is a question of balance what users know about their installations.... Maybe I should address that once scanne

[2019-02-08 09:42] aloboa commented on #18
Works fine on Debian, I'll test on windows later.
Thanks!
[code]

[2019-02-08 18:42] aloboa commented on #18
Works on windows as well but note some minor problems:

[code]

[2019-02-09 12:33] gisma commented on #18
Due to the fact that the search command is a windows system command I had (if user provided as in your case) to switch slashes back into backslashes again.

[2019-02-10 15:46] gisma commented on #11
see issue #18

[2019-02-10 15:48] gisma commented on #16
should be fixed? Please reopen if necessary

[2019-02-10 15:48] #16 closed, assigned to nobody

[2019-02-10 15:49] gisma commented on #17
most of the job is done and integrated . needs final tests.

[2019-02-10 15:49] gisma commented on #15
should be fixed. if necessary please reopen

[2019-02-10 15:49] #15 closed, assigned to nobody

[2019-02-10 17:11] aloboa commented on #18
Perhaps you can consider using shell() on windows:
 `It will also help with related issues such as having to switch out every / for \.`
https://stackoverflow.com/questions/41807060/difference-between-system-and-shell

[2019-02-10 17:54] gisma commented on #18
@aloboa  hope it works for the moment?

Thanks for the hint. I have used this quite often due to the fact that I am dealing massively (unlike most of the R folks) with system calls and piping pragmatically all kind of executable code.  In this case it is only a dirty preliminary hack because all kind of path notations that windows like to produce have to be checked and converted. Unfortunately  `s

[2019-02-11 16:56] aloboa commented on #18
Yes it does, just using the "//" whenever on windows.

Great to know that the fs package can make all these issues more OS-independent.

[2019-02-11 18:53] gisma commented on #18
Is it ok for you  to close the issue?

[2019-02-11 18:58] aloboa commented on #18
Yes, sure.
Thanks

[2019-02-11 19:49] #18 closed, assigned to nobody

[2019-05-12 07:04] goergen95 opened #19 "Error when args[[j]] is NA"
I ran into some issues while trying to set up OTB, giving this error:
[code]
[code]

I narrowed the issue down to the code block where the program checks for lines to drop. With some tools (e.g. segmentation.bat) it will cause an NA value which currently makes the program stop.
[code]
Could be a good idea to compensate this with dropping a line if the returned value is NA?
I also realized it is on

[2019-05-14 11:11] aloboa commented on #17
On windows, with
R version 3.5.2 (2018-12-20)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1
link2GI_0.3-6

I get
[code]
Both return the correct paths on Linux.
But, on linux, according to the manual
"add otb pathes to the enviroment and creates global variables path_OTB"
Nevertheless, I open the Terminal from within RStudio and the pate has not

[2019-05-25 10:31] raff-k opened #20 "GRASS GIS parallelisation issue under Windows (GISRC-environment)"
I tried to run multiple GRASS GIS operations in **parallel** using for each worker (or core) a unique location to account for the _peaceful coexistence_ (I tested it in Linux and Windows). Here, it appears to be critical that for each location a proper and unique GISRC-file must be set. Orginally, in `rgrass7::initGRASS()` one can set the GISRC-file by the `home` parameter, which is not available

[2019-05-28 05:34] gisma commented on #20
Thanks for adressing this issue and the comprehensive examples . Actually I tried to add only functionality to `link2GI` that is not covered by `rgrass7`.
Nevertheless I clearly see the advantage of controlling the GISRC-file if `link2GI` is used.
I will check your examples and try to integrate them in the upcoming release.

[2019-05-29 14:00] raff-k commented on #20
I assume that the junk-file issue is best to fix at its origin -> `rgrass7::initGRASS()`. So, I just opened an issue there, with the hope that it will be fixed. However, an additional function parameter in `link2GI::linkGRASS7()` controlling the _GISRC_-file via _home_ would be great :-)

https://github.com/rsbivand/rgrass7/issues/5

[2019-06-17 13:32] aloboa opened #21 "Conflict with RStoolbox"
[code]
Conversely

[code]

[2019-08-12 16:19] gisma commented on #21
With the current github version 0.3-6 I see
[code]
pls check and provide Sessioninfo and OS

[2019-08-12 17:03] gisma commented on #19
I Think you exceed the number of functions in the returned list. Pls check `length(algos)`

[2019-08-14 07:35] #19 closed, assigned to nobody

[2019-08-14 07:37] gisma commented on #19
@goergen95 I tried to fix this error by a workaround. I hope it work so far.

[2019-08-14 08:04] gisma commented on #20
@raff-k I have implemented the HOME and USERPROFILE environment variables. I did not check it up to now running Windows but you may set the argument use_home = TRUE to activate the HOME var instead of the tempdir()

[2019-10-23 09:31] florisvdh opened #22 "linkGRASS() by default overrides region and projection when linking an existing database"
With following code example, assuming valid values for `gisdbase` and `location`, the GRASS database is successfully linked; however the existing region and projection are overridden to standard settings (WGS84, globe):

[code]

I'll propose a fix for this. It seems that only the case with `quiet = FALSE` is handled correctly, while by default (`quiet = TRUE`) the function continues with setting t

[2019-10-23 20:03] gisma commented on #22
Thanks for reporting and for the pull request. Unfortunately I have run in a sequence of follow ups dealing with `grass 7.8` so I was stalling in integrating your issue. As a first workaround it is perfect. However I have to rewrite my awful code to integrate some more settings before we leave the subroutine with a `return()` I am working on it so keep tuned. Up to a final solution I integrate you

[2019-10-23 20:04] #22 closed, assigned to nobody

[2019-10-24 12:24] florisvdh opened #24 "linkGRASS(): suggestion to let 'g.gui' work"
FYI, and perhaps you can use the idea. Some time ago (using the CRAN version) I noticed that `g.gui` did not work from R, using `system()` or `execGRASS()`. At least in Linux (Mint) it seems that this can be solved by setting an environment variable `GRASS_PYTHON`:

[code]

Maybe you can manage to set this with `link2GI`, cross-platform? Being able to open the GUI from R seems an interesting featu

[2019-10-24 15:47] gisma commented on #24
Pretty cool idea. I'd never think about that way around probably because I'm not really native to the r community so I always start GRASS or SAGA outside of R or rstudio. I will check it under Windows and I will also look how the Linux flavours deal with it. It maybe take some time because the lectures are running....

[2019-10-26 21:17] gisma commented on #24
Well I spent quite a bit of effort to get it working under  `Arch` and `Mint`  are not willing to do the job.  At least `Mint` as it is based on `Ubuntu` should do it.  I am running in a cascade of malfunctions and error messages. So for the first I will pause this. Seems to be a job for the time between Christmas and new year...

[2019-10-27 00:10] gisma commented on #17
fixed by version 0.3-6

[2019-10-27 00:13] gisma commented on #20
feel free to reopen in case of any problems

[2019-10-27 00:13] #20 closed, assigned to nobody

[2019-11-11 09:01] pat-s opened #25 "Consider adding a URL field to DESCRIPTION"
So that one can use `usethis::browse_github()` or `remotes::install_dev("link2GI")`

[2019-11-11 09:09] pat-s opened #26 "Error linking GRASS on Arch Linux"
On Arch Linux with Grass 7.8 installed from AUR I get

[code]

Same for

[code]

both with CRAN and dev version.

Even when specifying the full path I get the error

[code]

[2019-11-11 12:39] pat-s opened #27 "Error linking GRASS on macOS"
macOS 10.14.6 (Mojave)

Grass installed via osgeo4mac, `osgeo-grass`, v7.6.1

[code]

[2019-11-12 09:53] gisma commented on #26
I was struggling with this a few weeks ago when I switched occasionally to Manjaro. Thought that I have fixed it thanks for reporting that I did not. The problem is that the GRASS people changed their initialisation script naming variables different and using other libs. Asap I will dive in  again .

[2019-11-12 09:55] gisma commented on #27
I think it is the same issue as #26. Unfortunately I have no macOS. Btw is there an easy way to set up an virtual macOS?

[2019-11-12 10:05] pat-s commented on #27
Jup, see here: https://github.com/myspaghetti/macos-guest-virtualbox

[2019-11-12 20:32] gisma commented on #26
quite a sloppiness and inconsistency of mine I did the recent commits in the master branch...
Please check the master branch on github. If I do so I get for Manjaro Arch:
After solving #27 Iwill push it asap on CRAN either.
[code]

[2019-11-15 13:53] pat-s commented on #26
Thanks. This works now for, but `link2GI::linkGRASS7()` does not yet

[code]

[2019-11-16 01:08] gisma commented on #26
still needs some checks

[2019-11-16 14:54] aloboa commented on #17
I still get the same using link2GI_0.3-8:
[code]

[2019-11-16 17:51] gisma commented on #17
running the current master branch version of `link2GI `   and only one installation of GDAL binaries  (maybe this will explain the issue i will check when back on my developing system) using `OSGEO4w` as installer  I am not able to reproduce this error.
[code]
The result of  `link2GI::findGDAL(quiet = F)`:

[code]

[2019-11-18 09:07] aloboa opened #29 "linkOTB not working?"
While
`findOTB(searchLocation = "/home/alobo/OTB-7.0.0-Linux64/bin")`
works instantly,
`otb <- linkOTB(bin_OTB ="/home/alobo/OTB-7.0.0-Linux64/bin")`
takes minutes to complete.
The output is correct:
[code]
But then any call to otbcli is not recognized:
[code]

[2019-11-18 10:02] gisma commented on #29
Thanks for reporting. I did not Check otb7.x
I coulf Imagine that the Syntax has changed.i will check or asap

[2019-11-19 08:52] gisma commented on #29
Well I did check it with OTB 7.x
I am not able to reproduce the long search in the home directory. So no idea what happens there.
[code]
`linkOTB()`is not designed to use straightforward. So just calling the pure command as you did will throw an error due to the missing path and pre-string "otbcli" (running Linux).  According to the example you have to use the following call:
[code]
[code]
However

[2019-11-19 12:40] aloboa commented on #29
Very good! Thanks
I suggest that you include this example in the README.md file (separate SAGA and OTB examples
and have these 2 OTB examples). I also think you should let the OTB forum know.
In the future, perhaps mkOTBcmd() and system() could be combined into one single command such as
RunOTB(algo_cmd)
i.e.:
[code]
(algo_cmd could have all necessary information)

[2019-11-19 12:40] #29 closed, assigned to nobody

[2019-11-20 10:37] gisma commented on #21
@aloboa  is this issue still active?

[2019-11-20 11:43] aloboa commented on #21
Works with current versions of both packages
RStoolbox_0.2.6.9999
link2GI_0.3-8

[2019-11-20 11:43] #21 closed, assigned to nobody

[2019-11-22 18:37] #26 closed, assigned to nobody

[2019-12-01 19:19] gisma commented on #17
as far I see the `linkGDAL` is implented like the other APIs. So one should be able to search and choose the preferred GDAL binaries.

[2019-12-01 19:19] #17 closed, assigned to nobody

[2020-05-13 16:36] florisvdh opened #38 "sf::st_crs() now returns WKT string, hence change needed in linkGRASS7() at least"
When trying `linkGRASS7()` with an `sf` object, you'll get a lengthy error parsing WKT lines, which begins with:

[code]

This will start from `sf >= 0.9`; read about it here: https://www.r-spatial.org/r/2020/03/17/wkt.html

I'm in the process of providing a simple fix for `linkGRASS7()`.

[2020-05-13 20:58] #38 closed, assigned to nobody

[2020-05-14 16:00] florisvdh commented on #24
An extension to this idea is launching the GRASS-terminal in Linux right from R (below it is the gnome-terminal, but it could be extended).

[code]

[2020-05-16 17:03] hbermeo opened #40 "Problem with findGRASS()"
Every time I do link = findGRASS () it generates NULL in addition to this long message.

[2020-05-16 17:04] hbermeo commented on #40
I have GRASS GIS 7.9 installed on my pc

[2020-05-18 14:01] gisma commented on #40
Thanks for pointing out. Weird this worked since the beginning. I have to check.

[2020-05-18 14:06] gisma commented on #40
Pls check if it works now.

[2020-05-20 22:05] hbermeo commented on #40
stays for hours and does nothing when doing
d = findGRASS ()
:(

[2020-05-30 19:24] CamiloEr commented on #40
Same error here and it worked with @gisma solution.

@hbermeo try reinstall link2GI with:

[code]

[2020-06-19 20:23] gisma commented on #40
@CamiloEr  thanks for the confirmation.
@hbermeo did it work with the reinstallation of the github master branch?

[2020-07-09 20:44] lovalery opened #41 "link2GI seems to "break" the link made by rgrass7 between R and GRASS"
@gisma
@rsbivand
Dear Chris,

On Roger's advice, I'm contacting you to report a problem I just highlighted: there seems to be a conflict between link2GI and rgrass7.

More precisely, when I have established a link between R and GRASS with the command rgrass7::initGRASS() and then run the command link2GI::linkOTB(), the link between R and GRASS seems to be broken: if I run the command rgrass7::init

[2020-07-13 15:25] ailich opened #42 "Issue with Spaces in Paths"
I've been testing out link2GI for using OTB from R, but I've run into a minor issue when there are spaces in the path names. I've found using `shQuote` around the input/output paths fixes the issue somewhat in that the output is written to a file, but throws an error because it fails to read into R (`retRaster=TRUE)`. I guess a workaround is to just use `retRaster=FALSE`, and then read in the outp

[2020-07-14 08:48] gisma commented on #41
Dear Loïc
unfortunately  this  is a "not so easy to figure out issue" due to the fact that link2GI was originally designed  to simplify the difficult setup of `GRASS` from `R` overcome some minor problems of the direct linking using `spgrass6` and `rgrass7` under Windows. This is done by setting the missing environment parameters (depending on the Win Version) in a hidden R environment.
So actuall

[2020-07-14 08:53] gisma commented on #42
Thanks for pointing out.
Yup I have to admit that it never come up to my mind that on the "user-path" side spaces and special characters could be a problem, because I alwas tell the studends "avoid it under all circumstances"... So not only spaces but extreme long or deep pathes and different code tables could rise problems.
Nevertheless I have noted it and will try to fix it asap.

[2020-07-14 09:08] gisma commented on #40
Pls feel free to reopen

[2020-07-14 09:08] #40 closed, assigned to nobody

[2020-07-14 09:09] #25 closed, assigned to nobody

[2020-07-14 15:52] lovalery commented on #41
Dear Chris,
Thank you very much for your elaborated reply.
Please find my answers to the various points you raise.

1. This behaviour is a bit weird. I just tested again and I still have the problem I described in my previous message. Maybe the problem is related to Windows 8.1? (Sorry, I just saw your edit : so, I guess this is the origin of the problem). Anyway, here are the details of my R sess

[2020-07-14 18:25] gisma commented on #41
Dear Loïc,
Sorry for this inconvenience. I will test your commands and some other checks  asap under Windows 10.  I'm not sure that the problems are caused by Windows 8.x and since I don't have Windows 8 available at the moment I can't test it.  But from my bitter experience I can only recommend not to update Windows 8.1 to Windows 10 but to replace it with a new installation with Windows 10. If I

[2020-07-15 11:28] gisma commented on #42
@ailich please check this fix. I just have testet it for your examples under Linux and for your example.

[2020-07-15 15:58] ailich commented on #42
Awesome works perfectly now. Thanks!

[2020-07-15 16:53] gisma commented on #42
Thanks also!

[2020-07-15 16:53] #42 closed, assigned to nobody

[2020-07-16 10:57] gisma commented on #41
Actually I am not able to reproduce the error and warning messages.  However most of the stuff that happens is done with ASCII text manipulation which is strongly related to the code tables You use. Could you pls install a standalone `GRASS` version in a folder without any special character and whitespace in the path etc. and than re-check?I just want to make sure that the problem is not related t

[2020-07-16 13:41] lovalery commented on #41
@gisma
Dear Chris,

I'm sorry I couldn't do the test : I tried to install a second standalone version of GRASS but this is not possible because at the time of installation the first version is detected automatically and prevents the installation of the second version... and, to tell the truth, I don't really want to uninstall the first version that works : I'm afraid of doing something wrong ! (my

[2020-07-16 17:45] gse-cc-git opened #43 "findGRASS finds grass where it is not"
Hello,
Using Linux Ubuntu 20.04 where grass in installed here:

[code]

`link2GI::findGRASS` returns

[code]

but there is nothing in /opt/ directory

hence the following (from the examples) fails

[code]

Sorry to bother you if this issue is related to my understanding of the linux system files rather than on your package.

Thank you for your help

[code]

[2020-07-19 19:57] gisma commented on #43
Thanks for sharing. I will check it asap.
EDIT: I have to check the parsing of the `GRASS`  starting script there has obviously changed something. Hope to fix this until tomorrow.

[2020-07-20 07:13] gisma commented on #43
I have tried to fix the parsing of the `GRASS` init script which is looking and setting  for the correct path of the `GRASS` installation folder while starting `GRASS` .  Please check if `findGrass()` will return the correct path and in addition runs.

[2020-07-20 12:00] gse-cc-git commented on #43
Hello,
I installed v0.4.4 and still have the same issue with `findGRASS()`

On my machine `GRASS` was installed in `/usr/lib/grass78` (came with QGIS 3.10).

`searchGRASSX` fails in finding `v.clean` with `file.exists(file.path(raw_GRASS,"v.clean"))` and falls back to `"/opt/grass"`

`system2("find", paste(MP," ! -readable -prune -o -type f -executable -iname 'grass??' -print"),stdout = TRUE,stder

[2020-07-23 09:22] gisma commented on #43
@gse-cc-git could you pls check if this new workaround fix this issue?

[2020-07-24 07:54] gse-cc-git commented on #43
@gisma it works now:

[code]

[2020-07-24 17:52] #43 closed, assigned to nobody

[2020-08-18 15:25] florisvdh opened #44 "searchGRASS() finds no lib folder if searchpath for the grass78 executable is narrowed down"
This is closely related to the recent commits that tried to fix #43.

At current master I still get below error. This is on Ubuntu 20.04 (just installed it recently, actually I use Linux Mint 20). I.e. with grass present as `/usr/bin/grass78` (installed from the focal repo) but the modules (like `v.clean`) coming under `usr/lib` - much like grass76 in Ubuntu 16.04 (in the form of Linux Mint 18, wh

[2020-08-18 16:12] florisvdh opened #46 "findGRASS()'s default searchLocation in Linux takes long to find grass"
Internally, `findGRASS()` does this in non-Windows systems:

[code]

I suggest to set the default to `"/usr/bin"`. It works much faster. Are there cases where grass is installed in another folder than `/usr/bin`, when installed under `/usr`?

[2020-08-18 16:21] florisvdh commented on #24
Because of recent changes in `reticulate` (see https://github.com/rstudio/reticulate/issues/754) which make it hard to return the system python executable, my current approach to prepare for launching the GUI (with `g.gui`) is (for GRASS 7.8 in Ubuntu 20.04, by which I actually mean Linux Mint 20):

[code]

And yet again, it works :smile:

Note however that some Ubuntu version dependency may be at

[2020-11-06 13:25] gisma commented on #46
sorry have been for personal reasons a fairly long time off.
well probably only if one compile grass from scratch. in this case the user obviouslyknow how to adress this path.

[2020-11-06 13:25] #44 closed, assigned to nobody

[2020-11-06 13:28] gisma commented on #46
have accepted the pull request
Thanks for contributing.

[2020-11-06 13:28] #46 closed, assigned to nobody

[2020-11-07 19:38] gisma commented on #24
uuh great thanks for this findings...

[2020-11-26 10:48] florisvdh commented on #46
I think there may have been some confusion while accepting PR #45 + closing this issue. PR #45 solved #44 but not the suggestion made here. From your response, it seems you would welcome the idea. So I've made another PR #47 that tries to implement the request made here.

[2020-12-01 16:38] florisvdh opened #48 "searchGRASSW() fails to find OSGeo4W root directory (Windows) with recent OSGeo4W (GRASS 7.8)"
In order to help a Windows user who has the #40 problem - which I believe is not solved for more recent OSGeo4W installations of GRASS - I did some tests in Windows.

Steps to reproduce:

1. Install QGIS with OSGEO4W 64 bits installer (https://download.osgeo.org/osgeo4w/osgeo4w-setup-x86_64.exe)
2. In the advanced installation options, select both qgis and grass (under desktop) to have grass insta

[2020-12-01 19:23] gisma commented on #48
@florisvdh  thanks for the tracking down and the hint. I will try to fix as soon as I am back on a Windows machine.

[2020-12-05 18:59] gisma commented on #48
Thanks for your support. I  hope the workaround works for now. Admittedly the many different versions of GRASS with increasingly variable call logic make it quite tedious to keep up.  Maybe I have to rethink this and re-script - or it is time to archive link2GI...

[2020-12-06 10:48] #48 closed, assigned to nobody

[2020-12-06 10:49] gisma commented on #48
pls re-open if necessary

[2020-12-06 15:11] gisma opened #49 "on Windows findGDAL throw error when untypical GDAL installations are available"
When other gdal binaries installations than osge4w otb or QGIS are present (like  miniConda ) the returned data frame will not show them.

[2020-12-06 23:14] #49 closed, assigned to nobody

[2020-12-10 08:26] florisvdh commented on #48
Sorry to keep you waiting for feedback @gisma, I'm not on Windows usually. `findGRASS()` now seems to work - thanks for the effort! - however the `gisbase_GRASS` element returned by `paramGRASSw()` is no valid path (not in my case). The actual path in my case is C:/OSGeo4W64/**apps**/grass/**grass**78.

[code]

<sup>Created on 2020-12-10 by the [reprex package](https://reprex.tidyverse.org) (v0.3.

[2020-12-13 21:47] gisma commented on #48
Thanks again @florisvdh ! I am working on it but in the moment I am not able to get the correct version  without starting Grass first. I am still checking.

[2020-12-15 15:46] gisma opened #51 ""Program Files" is not supported"
https://github.com/GeoMOER-Students-Space/mpg-gis-fe-2020-Hanka-826/issues/3#issuecomment-745374327

[2020-12-16 04:46] tertiarymatt opened #52 "runOTB produces no information when quiet = F"
Hi there.
I'm running R version 4.0.3, with link2GI version 0.4-5, in RStudio 1.4.1056.

Using runOTB works mostly, but the only message it ever returns is if it can't make a raster from an output (either due to a failure or due to retRaster = F not being set when it should be).
Otherwise it either runs and succeeds silently or runs and fails silently. This makes troubleshooting the configuration

[2020-12-16 09:59] gisma commented on #52
@tertiarymatt  thanks for reporting - your example put me on the right track to isolate this error.  In fact the error is not in the missing grid but that the input file argument must be called not with `-in` but with `-il` which is either new or has escaped me until now. I will systematically check to what extent calls have changed or I have ignored them so far and fix them as soon as possible.

[2020-12-16 19:24] tertiarymatt commented on #52
Thanks for the quick response! I'm happy to have pointed up that issue...

However my main question/concern is that _runOTB()_ simply never produces any messages regardless of the _quiet_ setting, even when successfully running other tools such as _TrainImagesClassifier_.

I had assumed that _runOTB()_ would pipe the messages produced from the command line call to the R console or the like, but th

[2020-12-16 21:47] gisma commented on #52
Thanks for clarifying.  The correct piping of the command  messages is a bit tricky.  I focused first the error and will asap fix the piping of  the status and messages dialogues.

[2020-12-17 00:12] gisma commented on #51
Pls check

[2020-12-17 08:19] gisma commented on #52
@tertiarymatt please check if the preliminary piping of the messages works out for you.

[2020-12-17 21:13] tertiarymatt commented on #52
Good news: The messages from the OTB command line run now appear to be routed to R! Thanks for your responsiveness and hard work on this project. It's quite useful!

Bad news: The `runOTB()` appears to be sending some slightly off-kilter parameters to the command line.

When running _SFSFeatureExtraction_ (which uses $input_in now, it seems) there seems to be something odd with the $ram parameter

[2020-12-17 23:32] #51 closed, assigned to nobody

[2020-12-17 23:44] gisma commented on #52
Thank you again for testing and tracking down. I was kind of hoping that it could work with a simple workaround. But obviously the naming of the arguments is some kind of _evolving_and unfortunately the command line help output is not generated strictly systematic.
I suppose Ihave to think about how it can be avoided to check this manually (and probably for each OTB release)  and to improve the qu

[2020-12-18 00:47] tertiarymatt commented on #52
There is definitely inconsistency in how the parameters themselves seem to be labelled, unfortunately.  I don't know how to build packages, but I will try to find some time over the weekend to work on the `parseOTBFunction` and `runOTB` functions to see if I can help find a solution.

[2020-12-18 17:17] gisma commented on #52
I have added the return of the used command line call if `quiet=FALSE` Maybe that helps in tracking down whats going wrong. It is also useful for a manual call of the command either...

[2020-12-18 20:07] gisma commented on #52
I think I was able to fix this weird behaviour of mixing up the params. I getting this output now:
[code]

 Actually I am not sure if there are more side effects.

[2020-12-18 20:40] tertiarymatt commented on #52
Very nice! I'll do some more testing over the weekend with additional algorithms. Thanks for your quick work on this.

[2020-12-29 23:15] tertiarymatt commented on #52
Sorry for the delay in getting back to you!

I was able to test and for non-machine learning functions got good outputs as you did above. Including the call at the end is also nice. However, for some of the Learning algorithms, the input and output files are grouped into "io" and take the form "io.il", "io.vd", "io.out" _etc._

To address this, I restructured the `runOTB()` function as shown below

[2020-12-30 20:30] gisma commented on #52
Very nice, big thanks for finding out the rest of the specifics. If you prefer you can make a pull request. If not I will integrate the improvements quickly.

[2020-12-30 20:52] tertiarymatt commented on #52
Given my inexperience with pull requests, it's probably easier to integrate them!

I may contribute more in the future, and can address that then.

[2020-12-30 20:52] #52 closed, assigned to nobody

[2021-03-16 20:45] ofr1tz opened #53 "GRASS .bat commands not run after linking with linkGRASS7"
Hi,

when using linkGRASS7 to initialise GRASS, I cannot run GRASS .bat commands.

I am using standalone winGRASS 7.8.5, rgrass7 0.2-5 and link2GI 0.4-6.

[code]

Starting Grass with ...

[code]

... I am able to use writeRAST/readRAST and run GRASS .exe commands with execGRASS, but not .bat commands such as r.fillnulls. I get the following error message:

[code]

See also [this rgrass7 issue](htt

[2021-03-16 22:47] gisma commented on #53
Thank you for pointing it out.  Unfortunately, I do not have a Windows PC available in the coming days. I think it is due to incorrect parsing of batch files which are not executable files. I will check asap what is wrong with the call of the python functions.

[2022-08-27 13:04] Nowosad opened #55 "Update to CRAN"
Hi @gisma (long time no see!),

do you plan to submit the current version to CRAN? I just spent an hour trying to debug what is wrong with `findGRASS()` on my computer and then discover that there is a fix on GitHub...

Best,
Jakub

[2022-08-27 13:46] Nowosad opened #56 "link2GI::linkGRASS7()"
Hi once more -- given the release of GRASS 8 and  recent renaming of rgrass7 to rgrass (https://cran.r-project.org/package=rgrass), what are your plans to `linkGRASS7()`? Do you plan to keep it, or maybe replace it (`linkGRASS()`), or maybe add a new function (`linkGRASS8()`)?

[2022-08-27 19:51] gisma commented on #55
Hi Jakub,
better we had spent the hour over a beer...
I was planning to clean up `ink2GI` and make it ready for the `rgdal/rgrass` countdown.  But then there was not much time and to be honest I was not sure if this function is used at all after rstudio can be started from the `GRASS` shell.
However, I still use it in many of my scripts and hence the dirty workaround....
Best Chris

[2022-08-27 20:07] gisma commented on #56
In the current development I would like to change the function to `linkGRASS( )` (with an alias on `linkGRASS7` to keep compatible). On the one hand this would consistent with `findGRASS()` and on the other hand the user usually doesn't care if he is working with GRASS 6x 7x 8x... I would then internally compare the versions and automatically link the most current one. Otherwise, the desired GRASS

[2022-08-28 14:51] Nowosad commented on #55
My assumption is that a part of R users prefer to work in R for some time, and then jump to GRASS for a calculation or two. Thus I think your functions are helpful for them.

[2022-08-28 20:07] gisma commented on #55
Probably you are right. I will update asap the workaround after checking for potential complications and overlaps between  `rgrass7` and `rgrass` .

[2022-08-28 20:07] #55 closed, assigned to nobody

[2022-08-29 09:01] gisma commented on #56
@Nowosad is on the way to CRAN.
Will be happy for all comments if not working

[2022-08-29 09:01] #56 closed, assigned to nobody

[2022-08-29 09:16] Nowosad commented on #56
Perfect! I am at OpenGeoHub now, so I plan to take a look at the new version next week.

[2022-08-29 11:59] Nowosad commented on #56
Ok -- I could not wait -- everything seem to be working fine -- see https://geocompr.robinlovelace.net/gis.html#grass.

[2022-08-29 14:06] gisma commented on #56
Great thanks for the feedback!
 If you like I could provide a 2 liner for using the link2GI OTB wrapper which is pretty convenient to call the OTB functions directly from R without using QGIS

[2022-08-29 16:02] Nowosad commented on #56
Yes!

[2022-09-21 11:26] pobsteta opened #57 "error with OTB 8.1.0 install on linux jammy with R command ?"
Hi,

I have install OTB 8.1.0 on my computer in home directory.
When i use this command on R :
[code]

i obtain this error :+1:
[code]

[2022-10-04 08:42] gisma commented on #57
@pobsteta sorry for the late answer. I am aware of the problem and working on stable a solution.

[2022-10-08 17:59] gisma commented on #57
@pobsteta pls check if it works

[2022-10-10 15:48] pobsteta commented on #57
Hi,

I reinstall link2GI and have the same error on OTB 8.1 ?

[2022-10-10 15:50] gisma commented on #57
Uh pls wait I oboiusly pushed the wrong version...

[2022-10-14 16:01] pobsteta commented on #57
Hi,

No i have a different error :

Erreur dans dirname(path_OTB) :
  un argument de type vecteur de caractères est attendu

[2022-10-14 16:13] pobsteta commented on #57
There is an error in function linkOTB: the value off pathOTB does /home/pascal/OTB-8.1.0-Linux64/ not /home/pascal/OTB-8.1.0-Linux64/bin !

[2022-10-16 10:14] pobsteta commented on #57
i look your function "parseOTBFunction" and it's ok if line 20, you change like this :
system(paste0("env -i ", path_OTB, "otbcli ", algo, " -help >> ", file.path(R.utils::getAbsolutePath(tempdir()), paste0("otb_module_dump.txt 2>&1"))))

[2022-10-28 12:17] gisma commented on #57
sorry for the late reply. Thanks for the suggestion this is more elegant and also stable I think. please check again...